services:
  postgres:
    image: postgres:15
    container_name: postgresql
    environment:
      POSTGRES_DB: bbdd_api_youtube
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ../datos/script/bbdd_api_youtube.sql:/docker-entrypoint-initdb.d/02-datos.sql
    restart: unless-stopped

volumes:
  postgres_data: